/ {
	gpio_keys {
		compatible = "gpio-keys";
		ledyellow: led_yellow {
			gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
	};
	

	dht11: dht11 {
	    compatible = "aosong,dht";
	    status = "okay";
	    dio-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
	    label = "XHT11";
	};
};
		
	aliases {
		led-yellow = &ledyellow;
		lcd-screen = &lcdscreen;
	};

	zephyr,user {
		io-channels =
			<&adc0 0>,
			
	};
};

&i2c0 {
	lcdscreen: lcd_screen@27{
		compatible = "i2c-device";
		reg = <0x27>;
		label = "LCD_SCREEN";
	};
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};